<div class="wrap">
	<p>Interested to share your sonification with us? Have a question, issue with the app or feedback to help make TwoTone better? Email us at <a href="mailto:support@sonify.io">support@sonify.io</a>.</p>
</div>
<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
		<ul class="menu-item">
			{% for platform in site.owner.social %}
			<li class="social"><a class="{{ platform[0] }}" href="https://{{ platform[0] }}.com/{{ platform[1] }}" target="_blank" rel="noopener" aria-label="{{ site.owner.name }} on {{ platform[0] | capitalize }}"><i class="fa fa-{{ platform[0] }}" aria-hidden="true"></i></a></li>
			{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.company-url | default: site.url }}">{{ site.company | default: site.title }}</a>
</footer>
