/* ==========================================================================
   Tiles
   ========================================================================== */

.list > * {
  @include outer-container;
  margin-bottom: $gutter;

  @include media($micro) {
    @include fill-parent;
  }
  // @include media(new-breakpoint(min-width em(480) 12)) {
  //   @include span-columns(3);
  //   @include omega(4n);
  // }

  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(18,no);
  }
  .post-excerpt {
    @include font-size(16, $doc-line-height / 2);
    margin-top: 0px + $doc-line-height / 2;
  }
}
