---
layout: basic
---
{% include header.html %}
{% include navigation-sliding.html %}

{% if page.image.background %}
<div class="page-lead" style="background-image:url({{ site.url }}/{{ page.image.background }})">
{% else %}
<div class="page-lead">
{% endif %}
  <div class="wrap page-lead-content">
   <div class="logos">
      <a href="https://sonify.io" target="_blank" rel="noopener noreferrer" aria-label="Link to Sonify website">
        <img src="{{ site.url }}/images/logos/sonify-logo-w-trans.png" style="width: 165px" alt="Sonify"/>
      </a>
      <a href="https://newsinitiative.withgoogle.com" target="_blank" rel="noopener noreferrer" aria-label="Google News Initiative link">
        <img src="{{ site.url }}/images/gni-logo.png" style="width: 370px;translate: 20px;" alt="Google News Initiative" />
      </a>
    </div>
   
    <h1>Welcome to TwoTone</h1>
    {% assign tagline = page.tagline | default: site.tagline | default: site.description %}
    {% if tagline %}<h2>{{ tagline }}</h2>{% endif %}
    <a href="https://sonify.io/twotone/" class="btn-inverse" aria-label="Launch app">Launch App</a> &nbsp; or &nbsp; <a href="https://github.com/sonifydata/twotone" aria-label="GitHub Source Code link" class="btn-inverse">View on GitHub</a>
  </div><!-- /.page-lead-content -->
</div><!-- /.page-lead -->

<div id="page-wrapper">
  {% include browser-upgrade.html %}

  <div id="main" role="main">
    <div class="wrap">
      <div class="page-title">
        {% if page.excerpt %}<h3>{{ page.excerpt }}</h3>{% endif %}
      </div>
      <div class="archive-wrap">
        <div class="page-content">
          {{ content }}
        </div><!-- /.page-content -->
      </div class="archive-wrap"><!-- /.archive-wrap -->
    </div><!-- /.wrap -->
  </div><!-- /#main -->

  {% include footer.html %}
</div>
